body {
    font-size: 0.8rem;
}

.btn-xsm {
    padding: 1px 5px 1px 5px;
    font-size: .7rem;
    border-radius: 0.2rem;
}

.mytable th {
    background-color: #e9e9ef;
    padding: 5px;
}

.mytable td {
    padding: 5px;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* start table-freeze */
/* --------------------------------------------------------------------------------------------------------------------- */
.table-freeze-wrapper {
    position: relative;
    height: 70vh;
    overflow: hidden;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.table-freeze-container {
    height: 100%;
    overflow: auto;
}

.table-freeze {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
    font-size: 11px;
    border: 1px solid #e9e9ef;
}

.table-freeze th,
.table-freeze td {
    padding: 4px 6px;
    border: 1px solid #dee2e6;
    background: white;
    white-space: nowrap;
    padding: 4px 6px;
    white-space: nowrap;
}

.table-freeze th {
    vertical-align: middle;
    background-color: #ececec;
    border: 1px solid #dadada;
}

.table-freeze thead {
    position: sticky;
    top: 0;
    z-index: 100;
}

.table-freeze-fixed-colomn {
    position: sticky;
    left: 0;
    z-index: 50;
    background: white;
    font-weight: bold;
}

.table-freeze-table-freeze-fixed-colomn-header {
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 150 !important;
    background: #ddf8ff !important;
    vertical-align: middle !important;
}

.table-freeze tbody tr:hover {
    background-color: #cee8ff !important;
}

.table-freeze tbody tr:hover td {
    background-color: #cee8ff !important;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* end table-freeze */
/* --------------------------------------------------------------------------------------------------------------------- */